<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.jpg') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <div class="fondo" style="background-image: url('static/images/fondo.jpg'); background-position: center center; background-repeat:repeat-x; background-size:contain;">
        <div style="display: flex; height:100vh;">
            <div class="card p-4 shadow-sm" style="width: 400px; margin:auto;">
                <h4 class="h4" style="text-align: center;"><i class="bi bi-person-circle" style="font-size:80px;"></i></h4>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        {{ messages[0] }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                {% endwith %}
                <form action="/login" method="post">
                    <div class="form-group py-2">
                        <label for="usuario" class="form-label">Usuario:</label>
                        <input type="text" class="form-control" id="usuario" name="usuario"
                            placeholder="Ingresa el usuario...">
                    </div>
                    <div class="form-group py-2">
                        <label for="password" class="form-label">Contraseña:</label>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Ingresa la contraseña...">
                    </div>
                    <div class="form-group py-2">
                        <input type="checkbox" name="recuerdame" id="recuerdame" class="form-check-input">
                        <label for="recordar" class="form-label">Recuérdame</label>
                    </div>
                    <button type="submit" class="btn btn-primary" style="width: 100%;">Iniciar Sesión</button>
                </form>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</body>

</html>