<div class="modal fade" id="deleteTrabajador" tabindex="-1" aria-labelledby="deleteTrabajadorLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="deleteTrabajadorLabel">Confirmar Decisión</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="mb-0">¿Estas de acuerdo en inhabilitar a este trabajador?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form action="/api/trabajador/delete" method="post">
                    <input type="hidden" name="id-t-d" id="id-t-d">
                    <button type="submit" class="btn btn-danger" id="confirmDelete">Borrar</button>
                </form>
            </div>
        </div>
    </div>
</div>