<div class="modal fade" id="infoCita" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="infoCitaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="infoCitaLabel">Información de la Cita</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex">
                    <form action="/api/cita/delete" method="POST">
                        {{form_u_cita.id_cita_u}}
                        <button type="submit" class="btn btn-danger">Borrar</button>
                    </form>
                    <button class="btn btn-dark" data-bs-target="#updateCitaToTrabajo" data-bs-toggle="modal">Agregar a Trabajos</button>
                </div>
                <form action="api/cita/update" method="post" id="updateCita">
                    {{ form_u_cita.csrf_token }}
                    {{form_u_cita.id_cita_u}}
                    <div class="form-group py-2" id="form-fecha">
                        {{form_u_cita.fecha_cita_u.label(class="form-label")}}
                        {{form_u_cita.fecha_cita_u(class="form-control")}}
                    </div>
                    <div class="form-group py-2">
                        <label for="nombre-cliente-ic" class="form-label">Nombre del cliente:</label>
                        <input type="text" id="nombre-cliente-ic" name="nombre-cliente-ic" class="form-control"
                            readonly>
                    </div>
                    <div class="form-group py-2">
                        <label for="telefono-ic">Número de teléfono:</label>
                        <input class="form-control" type="text" id="telefono-ic" name="telefono-ic" readonly>
                    </div>
                    <div class="form-group py-2">
                        {{form_u_cita.descripcion_cita_u.label(class="form-label")}}
                        {{form_u_cita.descripcion_cita_u(class="form-control")}}
                    </div>
                    <div class="form-group py-2">
                        {{form_u_cita.estatus_cita_u.label(class="form-label")}}
                        {{form_u_cita.estatus_cita_u(class="form-select")}}
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
            </form>
        </div>
    </div>
</div>
{%include 'home/citas/mover_cita_trabajo.html' %}
